{% extends "base.html" %} {% block title %}Olson Analytics{% endblock %} {% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>PDF Text Mining</h1>
    </div>
    <div class="col">
      <p class="important">
        <form action="/process-pdf" method="post" enctype="multipart/form-data">
          <input type="file" name="file" id="file">
          <input type="submit" value="Convert PDF" name="submit">
        </form>
      </p>
    </div>
  </div>
</div>
{% endblock %}