{% extends "base.html" %} {% block title %}Text Mining Site By Cameron Olson{% endblock %} {% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <!-- column 1 -->
    <div class="col">
      <h1>PDF Text Mining</h1>
      <p class="important">
        <form action="/process-pdf" method="post" enctype="multipart/form-data">
          <input type="file" name="file" id="file">
          <input type="submit" value="Convert PDF" name="submit">
        </form>
      </p>
    </div>
    <!-- column 2 -->
    <div class="col">
      
    </div>
    <!-- column 3 -->
    <div class="col">
      <h1>Hi, {{ current_user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}